

/* Define a variable to store the screen size */
:root {
    --screen-width: 100vw;
    --screen-height: 100vh;
}

.w-wrapper {
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
    display: inline-flex;
    scroll-snap-type: x mandatory;
    
}

.boxes {
    scroll-snap-align: start;
    display: grid;
    height: var(--screen-height);
    width: var(--screen-width);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    
    gap: 10px;
    padding: 10px;
    padding-top: 70px;
    grid-template-areas: "title title title info info"
                         "frame frame frame info info"
                         "frame frame frame info info"
                         "frame frame frame info info"
                         "back contact forward info info";
}
@media screen and (max-width: 768px) {
    .frame img[src=""] {
        display: none;
    }
    .boxes {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "title title title"
                             "info info info"
                             "info info info"
                             "info info info"
                             "info info info"
                             "back contact forward"
                             "back contact forward";
    }
}

.box {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.frame {
    grid-area: frame;
}

.frame img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}



.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center
    
}

.title h1 {
    font-size: clamp(1.5rem, 2vw, 4rem);
    font-weight: 400;
    padding: 20px;
    text-align: center;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
}

.info p {
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-weight: 200;
    padding: 20px;
}

.info h3 {
    text-align: center;;
    font-size: clamp(0.9rem, 1vw, 1rem);
    font-weight: 400;
    padding-bottom: 50px;
    margin-top: auto;
}

.forward {
    grid-area: forward;
    display: flex;
    justify-content: center;
    align-items: center
}

.back {
    grid-area: back;
    display: flex;
    justify-content: center;
    align-items: center
}

.contact {
    grid-area: contact;
    display: flex;
    justify-content: center;
    align-items: center
}

.button {
    width: 20%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
    padding: 20px;
    background: #1b1b1e;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 30%;
    transition: all 5s ease-in-out;
    position: relative;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  .popup .close {
    position: relative;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--violet);
  }
  .popup .close:hover {
    color: var(--purple);
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }



