@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
:root{
    --purple: #8a2be2;
    --violet: #9400d3;
    --pink: #ff1493;
}
@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #edf0f1;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1b1b1e;
}


.nav__links li, a, button {
    font-weight: 200;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.02);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav__links {
    list-style: none;
    
}

.nav__links li {
    display: inline-block;
    padding: 0 30px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    
}

.nav__links li a:hover {
    color: var(--purple);
    
}

button {
    padding: 5px 15px;
    border: none;
    margin: 0px 3%;
    background-color: var(--violet);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--purple);
}

.main__header {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.main__header h1 {
    font-size: clamp(5rem, 5vw, 4rem);
    font-weight: 400;
    padding: 20px;
    width: 90%;
}

.main__header .magic {
    font-weight: 800;
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.main__header h2 {
    width: 80%;
    font-size: clamp(1rem, 2vw, 4rem);
    font-weight: 400;
    padding: 20px;
}

.headings {
    font-size: clamp(1rem, 2vw, 4rem);
    padding: 20px;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
}

#cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: column;
    width: calc(100% - 20px);
    padding-left: 20px;
}

.headings {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}



.headings h1 {
    font-weight: 800;
    padding: 20px 0px;
    width: 90%;
}
.headings h2 {
    font-size: clamp(1rem, 2vw, 4rem);
    font-weight: 400;
}

.edu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    gap: 0 30px;
}

.courses {
    font-size: clamp(1rem, 1vw, 1rem);
    padding: 20px 30px;
    gap: 0 30px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.work_experience {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.job__header {
    font-size: clamp(1.5rem, 1vw, 1rem);
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    list-style: none;
    gap: 0 30px;
}
.job__task {
    font-weight: 500;
    font-size: clamp(1rem, 1vw, 1rem);
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.skills {
    padding-block: 1rem;
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: clamp(1.5rem, 1vw, 1rem);
    font-weight: 200;
}

.scroller[data-animated = "true"] {
    overflow: hidden;
    -webkit-mask:  linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask:  linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated = "true"] .skills {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 1rem));
    }
}

.skills__list {
    padding: 0 30px;
}